<div id="deface_editor">
  <div class="container">
    <div id="top_bar">
      <h1>Deface Editor</h1>
      <img src="/images/deface/busy.gif" id="busy"/>
      <div id="nav">

      </div>
      <p style="clear:both;"></p>
    </div>
    <div id="main"></div>
  </div>
</div>

<iframe src="/"></iframe>
