<div id="spraycan">
  <div class="container-fluid">
    <div class="topbar">
      <div class="topbar-inner">
        <div id="toolbar" class="container-fluid">

        </div>
      </div>
    </div>
  </div>
  <div id="main"></div>
</div>

<div id="dialogs"></div>

<iframe src="/"></iframe>
