<!DOCTYPE html>
<html>
<head>
  <title>Tweaker</title>
  <%= javascript_include_tag 'spraycan/tweaker' %>
  <%= stylesheet_link_tag 'spraycan/tweaker' %>
</head>
<body>

  <div id="tweaker" class="tweaker">
    <div class="drag_bar">&nbsp;</div>
    <div class="main">
      <ul class="top">
        <li>
          <a href="#design">Design</a>
          <div id="design-container"></div>
        </li>
      </ul>
    </div>
  </div>

  <div id="dialogs"></div>

  <iframe src="/"></iframe>
</body>
</html>
