/*
 *= require spraycan/colorpicker
*/

body{
  font-family:  'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}

iframe{
  width: 100%;
  height: 100%;
  border: none;
}

.tweaker {
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 260px;
  background-color: #FFFFFF;
  border: 1px solid #222;
  color: #000000;
  padding: 0px;
  margin:0px;
  position: absolute!important;
}
.drag_bar {
  -moz-top-right-border-radius: 10px;
  border-top-right-radius: 10px;
  -moz-top-left-border-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  line-height: 20px;
  background-color: #222;
  color: #ffffff;
  cursor: move;
}
.main {
  width: 100%;
}
ul.top{
  padding: 0px;
}
ul.top li{
  list-style: none;
  margin: 10px 0;
}
ul.top li a.menu{
  background: #ccc;
  display: block;
  padding: 4px;
  clear: both;
  text-decoration: none;
  color: #000;
  font-size: 110%;
}
ul.top ul li a{
  list-style: none;
  margin: 10px 0;
  padding: 4px;
  background: #fff;
  text-decoration: none;
  color: #000;
  font-size: 110%;
}
.container{
  padding: 6px;
}
.box{
  background-color: #CCCCCC;
  float: left;
  height: 100px;
  margin: 0 4px 4px 0;
  width: 45%;
}
.selected{
  background-color: red!important;
}
.picker_row{
  padding-top: 10px;
  width: 100%;
  clear: both;
}
.picker_row h3{
  margin: 0px
}
.picker_row h4{
  margin: 0px
}
.picker_row h5{
  margin: 0px
}
.picker_container{
  width: 33%;
  float: left;
}
.picker{
  background: url(/assets/spraycan/colorpicker/select.png);
  position: relative;
  width: 36px;
  height: 36px;
}
.picker .sample{
  background: url(/assets/spraycan/colorpicker/select.png) center;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 30px;
  height: 30px;
  margin: 0;
}
.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 11000;
  width: 560px;
  margin: -250px 0 0 -280px;
  background-color: white;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.wf-loading {
  font-family: serif
}
.wf-inactive {
  font-family: serif
}

/* Modal Dialog */
.modal-header{border-bottom:1px solid #eee;padding:5px 15px;}
.modal-body{padding:15px;}
.modal-body form{margin-bottom:0;}
.modal-footer{background-color:#f5f5f5;padding:14px 15px 15px;border-top:1px solid #ddd;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;-webkit-box-shadow:inset 0 1px 0 #ffffff;-moz-box-shadow:inset 0 1px 0 #ffffff;box-shadow:inset 0 1px 0 #ffffff;zoom:1;margin-bottom:0;}.modal-footer:before,.modal-footer:after{display:table;content:"";zoom:1;}
.modal-footer:after{clear:both;}
.close{float:right;color:#000000;font-size:20px;font-weight:bold;line-height:13.5px;text-shadow:0 1px 0 #ffffff;filter:alpha(opacity=25);-khtml-opacity:0.25;-moz-opacity:0.25;opacity:0.25;}
.close:hover{color:#000000;text-decoration:none;filter:alpha(opacity=40);-khtml-opacity:0.4;-moz-opacity:0.4;opacity:0.4;}

/* Font Selector */
.selector {
  text-decoration:none;
  display:block;
  float:left;
  text-align:left;
  width: 160px;
  height: 15px;
  padding: 3px 18px 3px 3px;
  margin:0;
  border: solid 1px #eee;
  font-size: 12px;
  color: #444444;
  cursor: pointer;
  background:#fff url(/assets/spraycan/fontpicker/aa.png) no-repeat top right;
}
.selector:hover {
  background-position:right -21px;
}
.fontbox {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 200px;
  text-align:left;
  width: 175px;
  border-left: solid 1px #eee;
  border-right: solid 1px #eee;
  border-bottom: solid 1px #eee;
  font-size: 12px;
  color: #444444;
  cursor: pointer;
  margin: 0px;
  padding: 3px 0;
  background-color: #1a82f7;
  background: -moz-linear-gradient(100% 100% 90deg, #eeeeee, #ffffff);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#eeeeee));
}
.fontbox a {
  width:169px;
  display:block;
  padding:0 3px;
  line-height:24px;
}
.fontbox a:hover{
  background-color:#FFC;
}
.sample {
  width:100%;
  clear:both;
  border:0;
  margin:10px 0 10px 0;
}
.sample:hover {
  color:#999;
}
.sample:focus {
  color:#F60;
}
.plus,.minus {
  width:21px;
  height:21px;
  border:1px solid #eee;
  float:left;
  display:inline-block;
  margin-right:5px;
}
.plus{
  background:#fff url(/assets/spraycan/fontpicker/plus.png) no-repeat top right;
}
.minus{
  background:#fff url(/assets/spraycan/fontpicker/minus.png) no-repeat top right;
}
.minus:hover,.plus:hover,.selector:hover{
  background-position:right -21px;
}

/* File Uploader */
.qq-uploader { position:relative; width: 100%;}

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background:#FF9797; text-align:center; 
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list {margin:15px 35px; padding:0; list-style:disc;}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}

.qq-uploader input[type='file']{
  float: left;
  height: 10px;
}

/* Images */
#file_preview  {
  margin-top: 5px;
}
#file_preview img {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  max-width: 200px;
  max-height: 120px;
  padding: 4px;
}
