<div class="container">
  <h3>Palettes</h3>

  <div>
    <a href="#palette?edit_current">Edit</a>
    <a href="#palette?new">New</a>
  </div>

  <% _.each(palettes, function(palette) { %>
    <a href="#palette?switch=<%= palette.cid %>" class="box <%= palette.get('active') ? 'selected' : '' %>"><%= palette.get('name') %></a>
  <% }); %>
</div>
