<div id="load_override">
  <select id="all_view_overrides">
    <option value="add-new">Add New Override</option>
    <% collection.each(function(item) { %>
      <option><%= item.escape('name') %></option>
    <% }); %>
  </select>
  <button>ok</button>
</div>
