@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Sans+Narrow:400,700&subset=latin,cyrillic);
/* line 4, partials/_colors.scss */
#spreeworks-editor #palette-giant-goldfish .color-1 {
  background-color: #69d2e7;
}
/* line 5, partials/_colors.scss */
#spreeworks-editor #palette-giant-goldfish .color-2 {
  background-color: #a7dbd8;
}
/* line 6, partials/_colors.scss */
#spreeworks-editor #palette-giant-goldfish .color-3 {
  background-color: #e0e4cc;
}
/* line 7, partials/_colors.scss */
#spreeworks-editor #palette-giant-goldfish .color-4 {
  background-color: #f38630;
}
/* line 8, partials/_colors.scss */
#spreeworks-editor #palette-giant-goldfish .color-5 {
  background-color: #fa6900;
}
/* line 9, partials/_colors.scss */
#spreeworks-editor #palette-giant-goldfish .color-6 {
  background-color: #e0e4cc;
}
/* line 10, partials/_colors.scss */
#spreeworks-editor #palette-giant-goldfish .color-7 {
  background-color: #a7dbd8;
}
/* line 11, partials/_colors.scss */
#spreeworks-editor #palette-giant-goldfish .color-8 {
  background-color: #fa6900;
}
/* line 15, partials/_colors.scss */
#spreeworks-editor #palette-thought-provoking .color-1 {
  background-color: #ecd078;
}
/* line 16, partials/_colors.scss */
#spreeworks-editor #palette-thought-provoking .color-2 {
  background-color: #d95b43;
}
/* line 17, partials/_colors.scss */
#spreeworks-editor #palette-thought-provoking .color-3 {
  background-color: #c02942;
}
/* line 18, partials/_colors.scss */
#spreeworks-editor #palette-thought-provoking .color-4 {
  background-color: #542437;
}
/* line 19, partials/_colors.scss */
#spreeworks-editor #palette-thought-provoking .color-5 {
  background-color: #53777a;
}
/* line 20, partials/_colors.scss */
#spreeworks-editor #palette-thought-provoking .color-6 {
  background-color: #c02942;
}
/* line 21, partials/_colors.scss */
#spreeworks-editor #palette-thought-provoking .color-7 {
  background-color: #ecd078;
}
/* line 22, partials/_colors.scss */
#spreeworks-editor #palette-thought-provoking .color-8 {
  background-color: #d95b43;
}
/* line 26, partials/_colors.scss */
#spreeworks-editor #palette-good-friends .color-1 {
  background-color: #d9ceb2;
}
/* line 27, partials/_colors.scss */
#spreeworks-editor #palette-good-friends .color-2 {
  background-color: #948c75;
}
/* line 28, partials/_colors.scss */
#spreeworks-editor #palette-good-friends .color-3 {
  background-color: #d5ded9;
}
/* line 29, partials/_colors.scss */
#spreeworks-editor #palette-good-friends .color-4 {
  background-color: #7a6a53;
}
/* line 30, partials/_colors.scss */
#spreeworks-editor #palette-good-friends .color-5 {
  background-color: #99b2b7;
}
/* line 31, partials/_colors.scss */
#spreeworks-editor #palette-good-friends .color-6 {
  background-color: #d5ded9;
}
/* line 32, partials/_colors.scss */
#spreeworks-editor #palette-good-friends .color-7 {
  background-color: #948c75;
}
/* line 33, partials/_colors.scss */
#spreeworks-editor #palette-good-friends .color-8 {
  background-color: #d9ceb2;
}
/* line 37, partials/_colors.scss */
#spreeworks-editor #palette-spree .color-1, #spreeworks-editor .palette-default .color-1 {
  background-color: #fff;
}
/* line 38, partials/_colors.scss */
#spreeworks-editor #palette-spree .color-2, #spreeworks-editor .palette-default .color-2 {
  background-color: #fff;
}
/* line 39, partials/_colors.scss */
#spreeworks-editor #palette-spree .color-3, #spreeworks-editor .palette-default .color-3 {
  background-color: #222;
}
/* line 40, partials/_colors.scss */
#spreeworks-editor #palette-spree .color-4, #spreeworks-editor .palette-default .color-4 {
  background-color: #4b4b4b;
}
/* line 41, partials/_colors.scss */
#spreeworks-editor #palette-spree .color-5, #spreeworks-editor .palette-default .color-5 {
  background-color: #88b64b;
}
/* line 42, partials/_colors.scss */
#spreeworks-editor #palette-spree .color-6, #spreeworks-editor .palette-default .color-6 {
  background-color: #3078bb;
}
/* line 43, partials/_colors.scss */
#spreeworks-editor #palette-spree .color-7, #spreeworks-editor .palette-default .color-7 {
  background-color: #4b4b4b;
}
/* line 44, partials/_colors.scss */
#spreeworks-editor #palette-spree .color-8, #spreeworks-editor .palette-default .color-8 {
  background-color: #88b64b;
}
/* line 48, partials/_colors.scss */
#spreeworks-editor #palette-mellon-ball-surprise .color-1 {
  background-color: #fff;
}
/* line 49, partials/_colors.scss */
#spreeworks-editor #palette-mellon-ball-surprise .color-2 {
  background-color: #d1f2a5;
}
/* line 50, partials/_colors.scss */
#spreeworks-editor #palette-mellon-ball-surprise .color-3 {
  background-color: #effab4;
}
/* line 51, partials/_colors.scss */
#spreeworks-editor #palette-mellon-ball-surprise .color-4 {
  background-color: #ffc48c;
}
/* line 52, partials/_colors.scss */
#spreeworks-editor #palette-mellon-ball-surprise .color-5 {
  background-color: #ff9f80;
}
/* line 53, partials/_colors.scss */
#spreeworks-editor #palette-mellon-ball-surprise .color-6 {
  background-color: #f56991;
}
/* line 54, partials/_colors.scss */
#spreeworks-editor #palette-mellon-ball-surprise .color-7 {
  background-color: #ff9f80;
}
/* line 55, partials/_colors.scss */
#spreeworks-editor #palette-mellon-ball-surprise .color-8 {
  background-color: #88b64b;
}

/* line 4, partials/_form.scss */
#spreeworks-editor input[type="submit"], #spreeworks-editor input[type="button"],
#spreeworks-editor button, #spreeworks-editor .button {
  background: none, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0083bf), color-stop(100%, #005e9e));
  background: none, -webkit-linear-gradient(#0083bf, #005e9e);
  background: none, -moz-linear-gradient(#0083bf, #005e9e);
  background: none, -o-linear-gradient(#0083bf, #005e9e);
  background: none, -ms-linear-gradient(#0083bf, #005e9e);
  background: none, linear-gradient(#0083bf, #005e9e);
  text-shadow: 1px 1px #003254;
  border: none;
  border-top: 1px solid #339ccc;
  border-bottom: 1px solid #124a72;
  color: white;
  text-transform: uppercase;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: bold;
  padding: 3px 10px;
  font-size: 13px;
  cursor: pointer;
}
/* line 18, partials/_form.scss */
#spreeworks-editor input[type="submit"]:active, #spreeworks-editor input[type="submit"].active, #spreeworks-editor input[type="button"]:active, #spreeworks-editor input[type="button"].active,
#spreeworks-editor button:active,
#spreeworks-editor button.active, #spreeworks-editor .button:active, #spreeworks-editor .button.active {
  background: none, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #005e9e), color-stop(100%, #0083bf));
  background: none, -webkit-linear-gradient(#005e9e, #0083bf);
  background: none, -moz-linear-gradient(#005e9e, #0083bf);
  background: none, -o-linear-gradient(#005e9e, #0083bf);
  background: none, -ms-linear-gradient(#005e9e, #0083bf);
  background: none, linear-gradient(#005e9e, #0083bf);
}
/* line 26, partials/_form.scss */
#spreeworks-editor input[type="text"], #spreeworks-editor input[type="email"],
#spreeworks-editor input[type="phone"], #spreeworks-editor input[type="url"],
#spreeworks-editor input[type="password"], #spreeworks-editor input[type="search"],
#spreeworks-editor input[type="number"] {
  -moz-box-shadow: 0 0 5px 0 #1f2124 inset;
  -webkit-box-shadow: 0 0 5px 0 #1f2124 inset;
  -o-box-shadow: 0 0 5px 0 #1f2124 inset;
  box-shadow: 0 0 5px 0 #1f2124 inset;
  background-color: #2b2e31;
  padding: 5px 10px;
  border: 1px solid #17181b;
  color: white;
  font-family: "PT Sans Caption", sans-serif;
  margin: 0;
}
/* line 35, partials/_form.scss */
#spreeworks-editor input[type="text"]:active, #spreeworks-editor input[type="text"]:focus, #spreeworks-editor input[type="email"]:active, #spreeworks-editor input[type="email"]:focus,
#spreeworks-editor input[type="phone"]:active,
#spreeworks-editor input[type="phone"]:focus, #spreeworks-editor input[type="url"]:active, #spreeworks-editor input[type="url"]:focus,
#spreeworks-editor input[type="password"]:active,
#spreeworks-editor input[type="password"]:focus, #spreeworks-editor input[type="search"]:active, #spreeworks-editor input[type="search"]:focus,
#spreeworks-editor input[type="number"]:active,
#spreeworks-editor input[type="number"]:focus {
  outline: none;
}
/* line 41, partials/_form.scss */
#spreeworks-editor .slider-wrap input[type="text"] {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  font-family: "PT Sans Narrow", sans-serif;
  background-color: transparent;
  padding: 0;
  border: none;
  font-weight: bold;
  font-size: 11px;
  float: left;
  width: 15px;
}
/* line 52, partials/_form.scss */
#spreeworks-editor .slider-wrap span.format {
  float: left;
}
/* line 57, partials/_form.scss */
#spreeworks-editor .ui-slider {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 10px 0 #191c1d inset;
  -webkit-box-shadow: 0 0 10px 0 #191c1d inset;
  -o-box-shadow: 0 0 10px 0 #191c1d inset;
  box-shadow: 0 0 10px 0 #191c1d inset;
  background-color: #2b2e31;
  height: 9px !important;
  border-bottom: 1px solid #565c5f;
  border-right: 1px solid #565c5f;
}
/* line 65, partials/_form.scss */
#spreeworks-editor .ui-slider .ui-slider-range {
  background: none, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4283d1), color-stop(100%, #245e8f));
  background: none, -webkit-linear-gradient(#4283d1, #245e8f);
  background: none, -moz-linear-gradient(#4283d1, #245e8f);
  background: none, -o-linear-gradient(#4283d1, #245e8f);
  background: none, -ms-linear-gradient(#4283d1, #245e8f);
  background: none, linear-gradient(#4283d1, #245e8f);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  height: 4px !important;
  border-top: 1px solid #529de1;
  border-left: 1px solid #529de1;
  margin-top: 2px;
  margin-left: 2px;
}
/* line 75, partials/_form.scss */
#spreeworks-editor .ui-slider .ui-slider-handle {
  background: url("/assets/spraycan/selector/toolbar/ui-slider-handle.png") no-repeat center 1px;
}
/* line 78, partials/_form.scss */
#spreeworks-editor .ui-slider .ui-slider-handle:active, #spreeworks-editor .ui-slider .ui-slider-handle:focus {
  outline: none;
}
/* line 85, partials/_form.scss */
#spreeworks-editor form#new-palette-form input[type="button"] {
  padding-left: 30px;
  background: url("/assets/spraycan/selector/toolbar/back-button-icon.png") no-repeat 5px 2px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0083bf), color-stop(100%, #005e9e));
  background: url("/assets/spraycan/selector/toolbar/back-button-icon.png") no-repeat 5px 2px, -webkit-linear-gradient(#0083bf, #005e9e);
  background: url("/assets/spraycan/selector/toolbar/back-button-icon.png") no-repeat 5px 2px, -moz-linear-gradient(#0083bf, #005e9e);
  background: url("/assets/spraycan/selector/toolbar/back-button-icon.png") no-repeat 5px 2px, -o-linear-gradient(#0083bf, #005e9e);
  background: url("/assets/spraycan/selector/toolbar/back-button-icon.png") no-repeat 5px 2px, -ms-linear-gradient(#0083bf, #005e9e);
  background: url("/assets/spraycan/selector/toolbar/back-button-icon.png") no-repeat 5px 2px, linear-gradient(#0083bf, #005e9e);
}
/* line 89, partials/_form.scss */
#spreeworks-editor form#new-palette-form input[type="button"]:active, #spreeworks-editor form#new-palette-form input[type="button"].active {
  background: url("/assets/spraycan/selector/toolbar/back-button-icon.png") no-repeat 5px 2px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #005e9e), color-stop(100%, #0083bf));
  background: url("/assets/spraycan/selector/toolbar/back-button-icon.png") no-repeat 5px 2px, -webkit-linear-gradient(#005e9e, #0083bf);
  background: url("/assets/spraycan/selector/toolbar/back-button-icon.png") no-repeat 5px 2px, -moz-linear-gradient(#005e9e, #0083bf);
  background: url("/assets/spraycan/selector/toolbar/back-button-icon.png") no-repeat 5px 2px, -o-linear-gradient(#005e9e, #0083bf);
  background: url("/assets/spraycan/selector/toolbar/back-button-icon.png") no-repeat 5px 2px, -ms-linear-gradient(#005e9e, #0083bf);
  background: url("/assets/spraycan/selector/toolbar/back-button-icon.png") no-repeat 5px 2px, linear-gradient(#005e9e, #0083bf);
}
/* line 94, partials/_form.scss */
#spreeworks-editor form#new-palette-form input[type="submit"] {
  padding-left: 30px;
  background: url("/assets/spraycan/selector/toolbar/toolbar-add-palette-submit.png") no-repeat 5px 1px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0083bf), color-stop(100%, #005e9e));
  background: url("/assets/spraycan/selector/toolbar/toolbar-add-palette-submit.png") no-repeat 5px 1px, -webkit-linear-gradient(#0083bf, #005e9e);
  background: url("/assets/spraycan/selector/toolbar/toolbar-add-palette-submit.png") no-repeat 5px 1px, -moz-linear-gradient(#0083bf, #005e9e);
  background: url("/assets/spraycan/selector/toolbar/toolbar-add-palette-submit.png") no-repeat 5px 1px, -o-linear-gradient(#0083bf, #005e9e);
  background: url("/assets/spraycan/selector/toolbar/toolbar-add-palette-submit.png") no-repeat 5px 1px, -ms-linear-gradient(#0083bf, #005e9e);
  background: url("/assets/spraycan/selector/toolbar/toolbar-add-palette-submit.png") no-repeat 5px 1px, linear-gradient(#0083bf, #005e9e);
}
/* line 98, partials/_form.scss */
#spreeworks-editor form#new-palette-form input[type="submit"]:active, #spreeworks-editor form#new-palette-form input[type="submit"].active {
  background: url("/assets/spraycan/selector/toolbar/toolbar-add-palette-submit.png") no-repeat 5px 1px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #005e9e), color-stop(100%, #0083bf));
  background: url("/assets/spraycan/selector/toolbar/toolbar-add-palette-submit.png") no-repeat 5px 1px, -webkit-linear-gradient(#005e9e, #0083bf);
  background: url("/assets/spraycan/selector/toolbar/toolbar-add-palette-submit.png") no-repeat 5px 1px, -moz-linear-gradient(#005e9e, #0083bf);
  background: url("/assets/spraycan/selector/toolbar/toolbar-add-palette-submit.png") no-repeat 5px 1px, -o-linear-gradient(#005e9e, #0083bf);
  background: url("/assets/spraycan/selector/toolbar/toolbar-add-palette-submit.png") no-repeat 5px 1px, -ms-linear-gradient(#005e9e, #0083bf);
  background: url("/assets/spraycan/selector/toolbar/toolbar-add-palette-submit.png") no-repeat 5px 1px, linear-gradient(#005e9e, #0083bf);
}

/* line 4, partials/plugins/_google-font-picker.scss */
#spreeworks-editor .font-select .selector {
  background: url("/assets/spraycan/selector/toolbar/form-select-icon.png") no-repeat 95% center, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5b9bd1), color-stop(100%, #416eb8));
  background: url("/assets/spraycan/selector/toolbar/form-select-icon.png") no-repeat 95% center, -webkit-linear-gradient(#5b9bd1, #416eb8);
  background: url("/assets/spraycan/selector/toolbar/form-select-icon.png") no-repeat 95% center, -moz-linear-gradient(#5b9bd1, #416eb8);
  background: url("/assets/spraycan/selector/toolbar/form-select-icon.png") no-repeat 95% center, -o-linear-gradient(#5b9bd1, #416eb8);
  background: url("/assets/spraycan/selector/toolbar/form-select-icon.png") no-repeat 95% center, -ms-linear-gradient(#5b9bd1, #416eb8);
  background: url("/assets/spraycan/selector/toolbar/form-select-icon.png") no-repeat 95% center, linear-gradient(#5b9bd1, #416eb8);
  text-shadow: 1px 1px #003254;
  display: block;
  text-transform: none;
  border: none;
  border-top: 1px solid #7cafda;
  border-bottom: 1px solid #3f4547;
  color: white;
  font-weight: normal;
  padding: 3px 10px;
  font-size: 13px;
  cursor: pointer;
}
/* line 18, partials/plugins/_google-font-picker.scss */
#spreeworks-editor .font-select .selector:active, #spreeworks-editor .font-select .selector.active {
  background: url("/assets/spraycan/selector/toolbar/form-select-icon.png") no-repeat 95% center, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #416eb8), color-stop(100%, #5b9bd1));
  background: url("/assets/spraycan/selector/toolbar/form-select-icon.png") no-repeat 95% center, -webkit-linear-gradient(#416eb8, #5b9bd1);
  background: url("/assets/spraycan/selector/toolbar/form-select-icon.png") no-repeat 95% center, -moz-linear-gradient(#416eb8, #5b9bd1);
  background: url("/assets/spraycan/selector/toolbar/form-select-icon.png") no-repeat 95% center, -o-linear-gradient(#416eb8, #5b9bd1);
  background: url("/assets/spraycan/selector/toolbar/form-select-icon.png") no-repeat 95% center, -ms-linear-gradient(#416eb8, #5b9bd1);
  background: url("/assets/spraycan/selector/toolbar/form-select-icon.png") no-repeat 95% center, linear-gradient(#416eb8, #5b9bd1);
}
/* line 23, partials/plugins/_google-font-picker.scss */
#spreeworks-editor .font-select .font-preview {
  -moz-box-shadow: 0 0 10px 0 #383e40 inset;
  -webkit-box-shadow: 0 0 10px 0 #383e40 inset;
  -o-box-shadow: 0 0 10px 0 #383e40 inset;
  box-shadow: 0 0 10px 0 #383e40 inset;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #464c4f;
  border: 1px solid #3a3f42;
  text-transform: none;
  font-weight: normal;
}
/* line 33, partials/plugins/_google-font-picker.scss */
#spreeworks-editor .font-select .fontbox {
  background: none, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #565d61), color-stop(100%, #393e41));
  background: none, -webkit-linear-gradient(#565d61, #393e41);
  background: none, -moz-linear-gradient(#565d61, #393e41);
  background: none, -o-linear-gradient(#565d61, #393e41);
  background: none, -ms-linear-gradient(#565d61, #393e41);
  background: none, linear-gradient(#565d61, #393e41);
  border: 1px solid #272B2D;
  text-align: left;
  width: 167px;
  height: 100px;
  overflow: hidden;
  font-size: 12px;
  color: white;
  cursor: pointer;
  padding: 3px 0;
}
/* line 45, partials/plugins/_google-font-picker.scss */
#spreeworks-editor .font-select .fontbox .viewport, #spreeworks-editor .font-select .fontbox .scrollbox {
  height: 90px !important;
  padding-bottom: 10px;
}
/* line 50, partials/plugins/_google-font-picker.scss */
#spreeworks-editor .font-select .fontbox .scrollbox {
  border: 1px solid #565d61;
}
/* line 56, partials/plugins/_google-font-picker.scss */
#spreeworks-editor .font-select .fontbox ul li a {
  border-bottom: 1px solid transparent;
  display: block;
  padding: 0 9px;
  line-height: 24px;
  text-transform: none;
  font-weight: normal;
  color: white;
}
/* line 65, partials/plugins/_google-font-picker.scss */
#spreeworks-editor .font-select .fontbox ul li a:hover {
  -moz-box-shadow: 0 0 10px 0 #191c1d inset;
  -webkit-box-shadow: 0 0 10px 0 #191c1d inset;
  -o-box-shadow: 0 0 10px 0 #191c1d inset;
  box-shadow: 0 0 10px 0 #191c1d inset;
  background-color: #2b2e31;
  border-bottom: 1px solid #565c5f;
  border-right: 1px solid #565c5f;
}

/* line 12, site.css.scss */
#spreeworks-editor {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  color: #d9dde1;
  text-shadow: 1px 1px #393d41;
  position: fixed;
  bottom: 10px;
  left: 50%;
  margin-left: -213px;
}
/* line 17, ../../vendor/bundle/ruby/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
#spreeworks-editor html, #spreeworks-editor body, #spreeworks-editor div, #spreeworks-editor span, #spreeworks-editor applet, #spreeworks-editor object, #spreeworks-editor iframe,
#spreeworks-editor h1, #spreeworks-editor h2, #spreeworks-editor h3, #spreeworks-editor h4, #spreeworks-editor h5, #spreeworks-editor h6, #spreeworks-editor p, #spreeworks-editor blockquote, #spreeworks-editor pre,
#spreeworks-editor a, #spreeworks-editor abbr, #spreeworks-editor acronym, #spreeworks-editor address, #spreeworks-editor big, #spreeworks-editor cite, #spreeworks-editor code,
#spreeworks-editor del, #spreeworks-editor dfn, #spreeworks-editor em, #spreeworks-editor img, #spreeworks-editor ins, #spreeworks-editor kbd, #spreeworks-editor q, #spreeworks-editor s, #spreeworks-editor samp,
#spreeworks-editor small, #spreeworks-editor strike, #spreeworks-editor strong, #spreeworks-editor sub, #spreeworks-editor sup, #spreeworks-editor tt, #spreeworks-editor var,
#spreeworks-editor b, #spreeworks-editor u, #spreeworks-editor i, #spreeworks-editor center,
#spreeworks-editor dl, #spreeworks-editor dt, #spreeworks-editor dd, #spreeworks-editor ol, #spreeworks-editor ul, #spreeworks-editor li,
#spreeworks-editor fieldset, #spreeworks-editor form, #spreeworks-editor label, #spreeworks-editor legend,
#spreeworks-editor table, #spreeworks-editor caption, #spreeworks-editor tbody, #spreeworks-editor tfoot, #spreeworks-editor thead, #spreeworks-editor tr, #spreeworks-editor th, #spreeworks-editor td,
#spreeworks-editor article, #spreeworks-editor aside, #spreeworks-editor canvas, #spreeworks-editor details, #spreeworks-editor embed,
#spreeworks-editor figure, #spreeworks-editor figcaption, #spreeworks-editor footer, #spreeworks-editor header, #spreeworks-editor hgroup,
#spreeworks-editor menu, #spreeworks-editor nav, #spreeworks-editor output, #spreeworks-editor ruby, #spreeworks-editor section, #spreeworks-editor summary,
#spreeworks-editor time, #spreeworks-editor mark, #spreeworks-editor audio, #spreeworks-editor video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* line 20, ../../vendor/bundle/ruby/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
#spreeworks-editor body {
  line-height: 1;
}
/* line 22, ../../vendor/bundle/ruby/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
#spreeworks-editor ol, #spreeworks-editor ul {
  list-style: none;
}
/* line 24, ../../vendor/bundle/ruby/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
#spreeworks-editor table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 26, ../../vendor/bundle/ruby/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
#spreeworks-editor caption, #spreeworks-editor th, #spreeworks-editor td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
/* line 28, ../../vendor/bundle/ruby/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
#spreeworks-editor q, #spreeworks-editor blockquote {
  quotes: none;
}
/* line 101, ../../vendor/bundle/ruby/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
#spreeworks-editor q:before, #spreeworks-editor q:after, #spreeworks-editor blockquote:before, #spreeworks-editor blockquote:after {
  content: "";
  content: none;
}
/* line 30, ../../vendor/bundle/ruby/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
#spreeworks-editor a img {
  border: none;
}
/* line 114, ../../vendor/bundle/ruby/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
#spreeworks-editor article, #spreeworks-editor aside, #spreeworks-editor details, #spreeworks-editor figcaption, #spreeworks-editor figure, #spreeworks-editor footer, #spreeworks-editor header, #spreeworks-editor hgroup, #spreeworks-editor menu, #spreeworks-editor nav, #spreeworks-editor section, #spreeworks-editor summary {
  display: block;
}
/* line 25, site.css.scss */
#spreeworks-editor .clearfix {
  *zoom: 1;
}
/* line 38, ../../vendor/bundle/ruby/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#spreeworks-editor .clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* line 29, site.css.scss */
#spreeworks-editor .hidden {
  display: none;
}
/* line 34, site.css.scss */
#spreeworks-editor .vertical-tabs ul {
  float: left;
}
/* line 37, site.css.scss */
#spreeworks-editor .vertical-tabs ul li {
  padding: 6px 0 !important;
  float: none !important;
}
/* line 41, site.css.scss */
#spreeworks-editor .vertical-tabs ul li a {
  float: none !important;
}
/* line 45, site.css.scss */
#spreeworks-editor .vertical-tabs ul li.ui-tabs-selected {
  background-color: #2b2e31;
  background-position: left center;
  background-repeat: no-repeat;
  background-image: url("/assets/spraycan/selector/toolbar/vertical-tabs-active.png");
}
/* line 55, site.css.scss */
#spreeworks-editor .vertical-tabs .tabs-content {
  float: left;
  overflow: auto;
  background-color: #2b2e31;
}
/* line 64, site.css.scss */
#spreeworks-editor ul.inline li {
  float: left !important;
}
/* line 69, site.css.scss */
#spreeworks-editor a {
  text-decoration: none;
  color: #d9dde1;
}
/* line 76, site.css.scss */
#spreeworks-editor nav ul li {
  padding: 10px;
}
/* line 81, site.css.scss */
#spreeworks-editor nav.actions, #spreeworks-editor nav.tabs {
  float: left;
}
/* line 85, site.css.scss */
#spreeworks-editor nav.actions ul li, #spreeworks-editor nav.tabs ul li {
  float: left;
  border-right: 1px solid #272b2d;
  border-left: 1px solid #565b5f;
  border-top: 1px solid #6f7579;
}
/* line 91, site.css.scss */
#spreeworks-editor nav.actions ul li.active, #spreeworks-editor nav.tabs ul li.active {
  -moz-box-shadow: 0 0 10px 0 #191c1d inset;
  -webkit-box-shadow: 0 0 10px 0 #191c1d inset;
  -o-box-shadow: 0 0 10px 0 #191c1d inset;
  box-shadow: 0 0 10px 0 #191c1d inset;
  background-color: #2b2e31;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
}
/* line 105, site.css.scss */
#spreeworks-editor nav.tabs li:last-child {
  border-right: none;
}
/* line 109, site.css.scss */
#spreeworks-editor nav.tabs li a {
  padding-left: 28px;
  background-position: left;
  background-repeat: no-repeat;
  display: block;
}
/* line 116, site.css.scss */
#spreeworks-editor nav.tabs li.layouts a {
  background-image: url("/assets/spraycan/selector/toolbar/toolbar-layouts.png");
}
/* line 119, site.css.scss */
#spreeworks-editor nav.tabs li.colors a {
  background-image: url("/assets/spraycan/selector/toolbar/toolbar-colors.png");
}
/* line 122, site.css.scss */
#spreeworks-editor nav.tabs li.fonts a {
  background-image: url("/assets/spraycan/selector/toolbar/toolbar-fonts.png");
}
/* line 125, site.css.scss */
#spreeworks-editor nav.tabs li.images a {
  background-image: url("/assets/spraycan/selector/toolbar/toolbar-images.png");
}
/* line 132, site.css.scss */
#spreeworks-editor nav.actions li:first-child {
  border-left: none;
}
/* line 136, site.css.scss */
#spreeworks-editor nav.actions span.icon {
  cursor: pointer;
  display: block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 145, site.css.scss */
#spreeworks-editor nav.actions .drag span.icon {
  background-image: url("/assets/spraycan/selector/toolbar/toolbar-drag.png");
}
/* line 148, site.css.scss */
#spreeworks-editor nav.actions .show-hide span.icon {
  background-image: url("/assets/spraycan/selector/toolbar/toolbar-close.png");
}
/* line 151, site.css.scss */
#spreeworks-editor nav.actions .save span.icon {
  background-image: url("/assets/spraycan/selector/toolbar/toolbar-save-active.png");
}
/* line 157, site.css.scss */
#spreeworks-editor .toolbar {
  border: 1px solid #272b2d;
}
/* line 160, site.css.scss */
#spreeworks-editor .toolbar .wrap {
  background: none, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #565d61), color-stop(100%, #282c2e));
  background: none, -webkit-linear-gradient(#565d61, #282c2e);
  background: none, -moz-linear-gradient(#565d61, #282c2e);
  background: none, -o-linear-gradient(#565d61, #282c2e);
  background: none, -ms-linear-gradient(#565d61, #282c2e);
  background: none, linear-gradient(#565d61, #282c2e);
  overflow: auto;
  border-left: 1px solid #6f7579;
  border-right: 1px solid #6f7579;
}
/* line 168, site.css.scss */
#spreeworks-editor .content {
  display: none;
  overflow: auto;
  background-position: 20px bottom;
  background-repeat: no-repeat;
  background-image: url("/assets/spraycan/selector/toolbar/content-panel-down-arrow.png");
  padding-bottom: 6px;
}
/* line 176, site.css.scss */
#spreeworks-editor .content.active-layouts {
  background-position: 170px bottom;
}
/* line 179, site.css.scss */
#spreeworks-editor .content.active-colors {
  background-position: 260px bottom;
}
/* line 182, site.css.scss */
#spreeworks-editor .content.active-fonts {
  background-position: 345px bottom;
}
/* line 185, site.css.scss */
#spreeworks-editor .content.active-images {
  background-position: 430px bottom;
}
/* line 189, site.css.scss */
#spreeworks-editor .content .wrap {
  background: none, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #565d61), color-stop(100%, #393e41));
  background: none, -webkit-linear-gradient(#565d61, #393e41);
  background: none, -moz-linear-gradient(#565d61, #393e41);
  background: none, -o-linear-gradient(#565d61, #393e41);
  background: none, -ms-linear-gradient(#565d61, #393e41);
  background: none, linear-gradient(#565d61, #393e41);
  border: 1px solid #272b2d;
  border-bottom: none;
  overflow: auto;
}
/* line 196, site.css.scss */
#spreeworks-editor .content .tab {
  border-top: 1px solid #6f7579;
  border-left: 1px solid #6f7579;
  border-right: 1px solid #6f7579;
  display: none;
  overflow: auto;
  max-width: 810px;
  max-height: 200px;
}
/* line 205, site.css.scss */
#spreeworks-editor .content .tab .section {
  float: left;
  border-right: 1px solid #2a2e30;
}
/* line 209, site.css.scss */
#spreeworks-editor .content .tab .section:first-child {
  border-left: none;
}
/* line 212, site.css.scss */
#spreeworks-editor .content .tab .section:last-child {
  border-right: none;
}
/* line 216, site.css.scss */
#spreeworks-editor .content .tab .section .section-header {
  padding-bottom: 3px;
  background: url("/assets/spraycan/selector/toolbar/section-header-arrow.png") no-repeat center bottom;
}
/* line 220, site.css.scss */
#spreeworks-editor .content .tab .section .section-header .title {
  text-align: center;
  -moz-box-shadow: 0 0 10px 0 #383e40 inset;
  -webkit-box-shadow: 0 0 10px 0 #383e40 inset;
  -o-box-shadow: 0 0 10px 0 #383e40 inset;
  box-shadow: 0 0 10px 0 #383e40 inset;
  padding: 5px 10px;
  background-color: #464c4f;
}
/* line 228, site.css.scss */
#spreeworks-editor .content .tab .section .section-body {
  padding: 5px;
  border-left: 1px solid #5a5f62;
  font-size: 12px;
  color: white;
}
/* line 242, site.css.scss */
#spreeworks-editor .content .scrollbox, #spreeworks-editor .content .viewport {
  overflow: auto;
  max-width: 650px;
}
/* line 247, site.css.scss */
#spreeworks-editor .content .viewport {
  height: 190px;
  outline: none;
}
/* line 252, site.css.scss */
#spreeworks-editor .content .jspContainer {
  height: 200px !important;
}
/* line 255, site.css.scss */
#spreeworks-editor .content .jspContainer .jspTrack {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 10px 0 #191c1d inset;
  -webkit-box-shadow: 0 0 10px 0 #191c1d inset;
  -o-box-shadow: 0 0 10px 0 #191c1d inset;
  box-shadow: 0 0 10px 0 #191c1d inset;
  background-color: #2b2e31;
  width: 6px !important;
  padding: 2px !important;
  padding-bottom: 4px !important;
  padding-right: 3px;
}
/* line 264, site.css.scss */
#spreeworks-editor .content .jspContainer .jspTrack .jspDrag {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background: none, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ccd2d7), color-stop(100%, #7b7f82));
  background: none, -webkit-linear-gradient(#ccd2d7, #7b7f82);
  background: none, -moz-linear-gradient(#ccd2d7, #7b7f82);
  background: none, -o-linear-gradient(#ccd2d7, #7b7f82);
  background: none, -ms-linear-gradient(#ccd2d7, #7b7f82);
  background: none, linear-gradient(#ccd2d7, #7b7f82);
  border: 1px solid #babdbe !important;
}
/* line 275, site.css.scss */
#spreeworks-editor .content.active-layouts {
  width: 640px;
  overflow: hidden;
  height: 183px;
}
/* line 281, site.css.scss */
#spreeworks-editor .content.active-layouts .viewport {
  height: 140px;
  margin-top: 3px;
}
/* line 286, site.css.scss */
#spreeworks-editor .content.active-layouts .tab {
  overflow: hidden;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
/* line 293, site.css.scss */
#spreeworks-editor .content.active-layouts .vertical-tabs {
  text-align: right;
}
/* line 296, site.css.scss */
#spreeworks-editor .content.active-layouts .vertical-tabs .tab-links {
  width: 150px;
}
/* line 301, site.css.scss */
#spreeworks-editor .content.active-layouts .tabs-content {
  text-align: center;
  padding: 0 5px;
  width: 465px;
  height: 160px;
  overflow: hidden;
}
/* line 308, site.css.scss */
#spreeworks-editor .content.active-layouts .tabs-content .ui-tabs-panel {
  overflow: hidden;
  height: 150px;
}
/* line 312, site.css.scss */
#spreeworks-editor .content.active-layouts .tabs-content .ui-tabs-panel .viewport {
  width: 460px !important;
}
/* line 318, site.css.scss */
#spreeworks-editor .content.active-layouts .tabs-content ul li {
  padding-bottom: 5px !important;
  margin: 10px 5px;
  max-width: 100px;
  cursor: pointer;
  width: 100px;
}
/* line 325, site.css.scss */
#spreeworks-editor .content.active-layouts .tabs-content ul li span.icon {
  width: 66px;
  height: 64px;
  display: block;
  margin: 10px auto;
  background-repeat: no-repeat;
  background-image: url("/assets/spraycan/selector/toolbar/layouts-icons.png");
}
/* line 334, site.css.scss */
#spreeworks-editor .content.active-layouts .tabs-content ul li.active {
  -moz-box-shadow: 0 0 10px 0 #191c1d inset;
  -webkit-box-shadow: 0 0 10px 0 #191c1d inset;
  -o-box-shadow: 0 0 10px 0 #191c1d inset;
  box-shadow: 0 0 10px 0 #191c1d inset;
  background-color: #2b2e31;
}
/* line 340, site.css.scss */
#spreeworks-editor .content.active-layouts .tabs-content ul li.layout-left-hand-nav span.icon {
  background-position: left top;
}
/* line 343, site.css.scss */
#spreeworks-editor .content.active-layouts .tabs-content ul li.layout-left-hand-nav.active span.icon {
  background-position: left -64px;
}
/* line 348, site.css.scss */
#spreeworks-editor .content.active-layouts .tabs-content ul li.layout-right-hand-nav span.icon {
  background-position: -66px top;
}
/* line 351, site.css.scss */
#spreeworks-editor .content.active-layouts .tabs-content ul li.layout-right-hand-nav.active span.icon {
  background-position: -66px -64px;
}
/* line 356, site.css.scss */
#spreeworks-editor .content.active-layouts .tabs-content ul li.layout-top-menu-nav span.icon {
  background-position: -132px top;
}
/* line 359, site.css.scss */
#spreeworks-editor .content.active-layouts .tabs-content ul li.layout-top-menu-nav.active span.icon {
  background-position: -132px -64px;
}
/* line 364, site.css.scss */
#spreeworks-editor .content.active-layouts .tabs-content ul li.layout-left-side-header span.icon {
  background-position: -198px top;
}
/* line 367, site.css.scss */
#spreeworks-editor .content.active-layouts .tabs-content ul li.layout-left-side-header.active span.icon {
  background-position: -198px -64px;
}
/* line 381, site.css.scss */
#spreeworks-editor .content.active-colors #tab-colors {
  overflow: hidden;
}
/* line 387, site.css.scss */
#spreeworks-editor .content.active-colors ul.colors-palettes-list li {
  width: 100px;
  background-color: #232528;
  margin: 10px;
  cursor: pointer;
  position: relative;
}
/* line 394, site.css.scss */
#spreeworks-editor .content.active-colors ul.colors-palettes-list li:hover span.actions {
  display: block;
}
/* line 398, site.css.scss */
#spreeworks-editor .content.active-colors ul.colors-palettes-list li span.actions {
  background: rgba(35, 37, 40, 0.7);
  position: absolute;
  right: 0px;
  padding: 5px 2px;
}
/* line 404, site.css.scss */
#spreeworks-editor .content.active-colors ul.colors-palettes-list li span.actions a {
  display: block;
  float: right;
  width: 13px;
  height: 13px;
  margin: 1px 5px;
  background: url("/assets/spraycan/selector/toolbar/edit-delete-palette-icons.png") no-repeat;
}
/* line 412, site.css.scss */
#spreeworks-editor .content.active-colors ul.colors-palettes-list li span.actions a.edit {
  background-position: left center;
}
/* line 415, site.css.scss */
#spreeworks-editor .content.active-colors ul.colors-palettes-list li span.actions a.delete {
  background-position: -13px center;
}
/* line 421, site.css.scss */
#spreeworks-editor .content.active-colors ul.colors-palettes-list li span.color {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  width: 25px;
  height: 25px;
}
/* line 7, ../../vendor/bundle/ruby/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#spreeworks-editor .content.active-colors ul.colors-palettes-list li span.color {
  *display: inline;
}
/* line 427, site.css.scss */
#spreeworks-editor .content.active-colors ul.colors-palettes-list li span.title {
  display: block;
  font-size: 14px;
  padding: 5px 3px;
  text-transform: none;
  font-weight: normal;
  text-align: center;
}
/* line 436, site.css.scss */
#spreeworks-editor .content.active-colors ul.colors-palettes-list li.active {
  margin: 0;
  padding: 10px;
  -moz-box-shadow: 0 0 10px 0 #191c1d inset;
  -webkit-box-shadow: 0 0 10px 0 #191c1d inset;
  -o-box-shadow: 0 0 10px 0 #191c1d inset;
  box-shadow: 0 0 10px 0 #191c1d inset;
  background-color: #2b2e31;
}
/* line 442, site.css.scss */
#spreeworks-editor .content.active-colors ul.colors-palettes-list li.active:hover span.actions {
  right: 10px;
}
/* line 447, site.css.scss */
#spreeworks-editor .content.active-colors ul.colors-palettes-list li.new-palette {
  height: 79px;
}
/* line 450, site.css.scss */
#spreeworks-editor .content.active-colors ul.colors-palettes-list li.new-palette a {
  text-shadow: none;
  background: url("/assets/spraycan/selector/toolbar/toolbar-add-palette.png") no-repeat center top;
  padding-top: 30px;
  display: block;
  width: 100px;
  text-align: center;
  font-size: 11px;
  margin-top: 15px;
}
/* line 469, site.css.scss */
#spreeworks-editor .content.active-colors #new-palette .section .section-body ul {
  overflow: auto;
}
/* line 472, site.css.scss */
#spreeworks-editor .content.active-colors #new-palette .section .section-body ul li {
  margin: 5px;
}
/* line 475, site.css.scss */
#spreeworks-editor .content.active-colors #new-palette .section .section-body ul li .color-block {
  width: 35px;
  height: 35px;
  margin: 0 auto;
  margin-bottom: 5px;
  border: 1px solid #CBD0D5;
}
/* line 483, site.css.scss */
#spreeworks-editor .content.active-colors #new-palette .section .section-body ul li .color-title {
  text-shadow: none;
  text-transform: none;
  font-weight: normal;
  font-size: 14px;
  color: white;
  text-align: center;
}
/* line 503, site.css.scss */
#spreeworks-editor .content.active-fonts .tab {
  overflow: hidden;
  width: 785px;
}
/* line 508, site.css.scss */
#spreeworks-editor .content.active-fonts .section {
  float: left;
  border-right: 1px solid #2a2e30;
  width: 150px;
}
/* line 513, site.css.scss */
#spreeworks-editor .content.active-fonts .section#section-fonts-preview {
  width: 180px;
  height: 200px;
}
/* line 518, site.css.scss */
#spreeworks-editor .content.active-fonts .section:first-child {
  border-left: none;
}
/* line 521, site.css.scss */
#spreeworks-editor .content.active-fonts .section:last-child {
  border-right: none;
}
/* line 525, site.css.scss */
#spreeworks-editor .content.active-fonts .section .section-header {
  padding-bottom: 3px;
  background: url("/assets/spraycan/selector/toolbar/section-header-arrow.png") no-repeat center bottom;
}
/* line 529, site.css.scss */
#spreeworks-editor .content.active-fonts .section .section-header .title {
  text-align: center;
  -moz-box-shadow: 0 0 10px 0 #383e40 inset;
  -webkit-box-shadow: 0 0 10px 0 #383e40 inset;
  -o-box-shadow: 0 0 10px 0 #383e40 inset;
  box-shadow: 0 0 10px 0 #383e40 inset;
  padding: 5px 10px;
  background-color: #464c4f;
}
/* line 537, site.css.scss */
#spreeworks-editor .content.active-fonts .section .section-body {
  padding: 5px;
  border-left: 1px solid #5a5f62;
  font-size: 12px;
  color: white;
}
/* line 543, site.css.scss */
#spreeworks-editor .content.active-fonts .section .section-body .font-select {
  margin-bottom: 15px;
}
/* line 547, site.css.scss */
#spreeworks-editor .content.active-fonts .section .section-body .slider-wrap {
  margin-bottom: 10px;
  overflow: hidden;
}
/* line 551, site.css.scss */
#spreeworks-editor .content.active-fonts .section .section-body .slider-wrap .title {
  margin-left: 10px;
  padding-bottom: 3px;
}
/* line 556, site.css.scss */
#spreeworks-editor .content.active-fonts .section .section-body .slider-wrap .ui-slider {
  margin-left: 10px;
  width: 80px;
  float: left;
}
/* line 562, site.css.scss */
#spreeworks-editor .content.active-fonts .section .section-body .slider-wrap .value {
  float: left;
  width: 30px;
  text-transform: none;
  margin-top: -3px;
  margin-left: 10px;
}

