<div id="graphics_list" class="file_list scroller">
  <ul id="all_graphics">
    <% collection.each(function(item) { %>
      <li>
        <a href="#" data-graphic-id="<%= item.attributes.id %>"><%= _.last(item.attributes.url.split('/')) %></a>
      </li>
    <% }); %>
  </ul>
</div>
<div id="edit_wrapper">
  <div id="graphic_details">
  </div>
  <div id="actions">
    <ul class="buttons toggle">
      <li class="disabled"><a href="#" rel="delete">Delete</a></li>
      <li class="last"><a href="#" rel="new">New</a></li>
    </ul>
  </div>
</div>
