<!DOCTYPE html>
<html>
<head>
  <title>Spraycan</title>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <%= javascript_include_tag 'spraycan/editor' %>
  <%= stylesheet_link_tag 'spraycan/editor' %>
</head>
<body>
  <%= yield %>
</body>
</html>
