html {
  height: 100%;
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  /* overflow: hidden; this angers selenium*/
}
iframe{
  width: 100%;
  height: 100%;
  border: none;
}

div#spraycan{
  background-color: #FEFBF3;
  bottom: -10px;
  height: 350px;
  position: absolute;
  width: 100%;
  z-index: 500;
}
div#spraycan .topbar{
  top: auto;
}
div#spraycan #main{
  margin-top: 40px;
}
div#spraycan .index_actions{
  padding-top: 10px;
}
div#spraycan .edit_actions{
  padding-top: 10px;
  margin-right: 20px;
}

div#spraycan .advanced{
  display: none;
}
div#spraycan #busy{
  height: 16px;
  width: 16px;
  margin: 12px 0px;
}

div#spraycan dl#files{
  float: left;
  height: 220px;
  width: 100%;
  padding: 0.5%;
  overflow-y: auto;
  border: 1px solid #404040;
}
div#spraycan dl#files dt{
  float: left;
  width: 33%;
}
div#spraycan #file_wrapper{
  width: 75%;
}

div#spraycan #edit_wrapper {
  width: 20%;
  margin: 10px 20px;
}
div#spraycan #edit_wrapper h3{
  margin: 0 0 10px 0;
}
div#spraycan #edit_wrapper .fields {
   float: none;
   width: auto;
   height: 30px;
   margin-right: 0px;
}
div#spraycan #edit_wrapper .fields label{
  width: 60px;
}
div#spraycan #edit_wrapper .fields span{
  vertical-align: super;
}
div#spraycan #edit_wrapper .fields input{
  height: auto;
}
div#spraycan #edit_wrapper .actions {
  clear: none;
  background: none;
  border-top: none;
  text-align: right;
}
div#spraycan #file_preview  {
  margin-top: 5px;
  height: 120px;
  text-align: center;
}
div#spraycan #file_preview img {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  max-width: 200px;
  max-height: 120px;
  padding: 4px;
}
div#spraycan #graphic_details{
  height: 250px;
}
div#spraycan #graphic_details form{
  float: right;
  margin-right: 111px;
  text-align: left;
  width: 110px;
}
div#spraycan #graphics_list a{
  text-decoration: underline
}

div#spraycan .split_edit{
  border-left: 5px solid #EEEEEE;
  height: 220px;
  margin-bottom: 10px;
  padding-left: 22px;
}

li#restore, li#resize_restore{
  display: none;
}

.align-right{
  text-align: right;
}
input{
  height: 27px;
  line-height: 27px;
}

pre#source{
  height: 160px;
  overflow-y: scroll;
}


/* Bootstrap Overrides*/
.form-stacked {
  padding-right: 20px;
  margin-right: -20px;
}
.actions {
  margin-top: 0px;
}
/* jquery-tablescroll overrides */
.tablescroll_head{
  margin-bottom: 0px;
}
.tablescroll_head th,td{
  padding: 5px 5px 4px;
}

.ace_editor .ace_print_margin_layer {
  width: auto;
}

.small_editor {
  height: 195px;
  width: 100%;
  position: relative;
  border: 1px solid #fff;
  background-color: #fff;
  clear: both;
  padding: 0px;
}

.qq-uploader { position:relative; width: 100%;}

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background:#FF9797; text-align:center; 
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list {margin:15px 35px; padding:0; list-style:disc;}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}


