<ul>
  <li>
    <a href="#design/layouts">Layouts</a>
  </li>
  <li>
    <a href="#design/products/listing">Product Listing</a>
  </li>
  <li>
    <a href="#design/products/details">Product Detail</a>
  </li>
</ul>
