<form id="stylesheet_form" class="form-stacked">
  <fieldset>
    <div class="clearfix">
      <label>Name:</label>
      <div class="input">
        <input type="text" size="30" name="name" value="<%= stylesheet.name %>">
      </div>
    </div>
    <div class="clearfix">
      <label>CSS:</label>
      <pre id="stylesheet_css" class="small_editor">p {}</pre>
    </div>
    <div class="actions clearfix">
      <div class="pull-right">
        <button rel="save" class="btn primary">Save Changes</button>
        <a rel="delete" href="/spraycan#stylesheet?delete=<%= cid %>&confirm=<%= stylesheet.id==undefined ? 'true' : 'false' %>" class="btn danger" >
          <%= stylesheet.id==undefined ? 'Discard' : 'Delete' %>
        </a>
        <a href="/spraycan#stylesheet?all" class="btn">Close</a>
      </div>
    </div>
  </fieldset>
</form>
