<!DOCTYPE html>
<html>
<head>
  <title>Deface Editor</title>
  <%= javascript_include_tag 'deface/editor' %>
  <%= stylesheet_link_tag 'deface/editor' %>
</head>
<body>
  <%= yield %>
</body>
</html>
