<!DOCTYPE html>
<html>
<head>
  <title>Spraycan</title>
  <%= javascript_include_tag 'spraycan/stencil' %>
  <%= stylesheet_link_tag 'spraycan/stencil' %>
</head>
<body>
  <div id="dialogs"></div>

  <iframe src="/"></iframe>

  <div id="stencil">
    <div id="main"></div>
  </div>
</body>
</html>
