<!DOCTYPE html>
<html>
<head>
  <title>Deface Editor</title>
  <script type="text/javascript">
    var App = {
      Views: {Shared: {}, ViewOverrides: {} },
      Controllers: {},
      Collections: {},

      templates: [],

      view: null,

      editor: {minimised: true, maximised: false, visible: false },

      activity: 0,

      init: function() {
        view_overrides_controller = new App.Controllers.ViewOverrides();
        view_overrides_controller.index();

        new App.Controllers.Templates();
        Backbone.history.start();
      },

      increment_activity: function(){
        App.activity = App.activity + 1;
        $('img#busy').show();
      },

      decrement_activity: function(){
        App.activity = App.activity - 1;

        if(App.activity<=0){
          $('img#busy').hide();
          App.activity = 0;
        }

      },

      animate_resize: function(){
        var pre_height = $("div#deface_editor").height();

        var height = 50;
        if(App.view!=null){
          height += App.view.calculate_size();
        }

        if(App.editor.visible){
          if(App.editor.minimised){
            $('#nav li#min').addClass('disabled');
            $('#nav li#restore').removeClass('disabled');
            $('#nav li#max').removeClass('disabled');
          }else if(App.editor.maximised){
            $('#nav li#min').removeClass('disabled');
            $('#nav li#restore').removeClass('disabled');
            $('#nav li#max').addClass('disabled');
          }else{ //restore
            $('#nav li#min').removeClass('disabled');
            $('#nav li#restore').addClass('disabled');
            $('#nav li#max').removeClass('disabled');
          }
        }else{
          $('#nav li#min').removeClass('disabled');
          $('#nav li#restore').removeClass('disabled');
          $('#nav li#max').removeClass('disabled');
        }

        var t = Math.abs((pre_height - height) * 5);
        if(t<400){
          t = 400;
        }else if(t>1500){
          t = 1500;
        }

        $("div#deface_editor").animate({height: height + 'px'}, t);
      }

    };





  </script>

  <%= javascript_include_tag 'jquery-1.4.4.deface.min.js',
                             'jquery.validate.deface.min.js',
                             'underscore-min.js',
                             'backbone-min.js',
                             'models/view_override.js',
                             'models/template.js',
                             'collections/view_overrides.js',
                             'collections/templates.js',
                             'controllers/view_overrides.js',
                             'controllers/templates.js',
                             'views/view_overrides/index.js',
                             'views/view_overrides/edit.js',
                             'views/view_overrides/list.js',
                             'views/shared/navigate.js',
                             'rails.deface.js',
                             '/src/ace.js',
                             '/src/mode-html.js',
                             '/src/theme-twilight.js' %>

  <script type="text/javascript">
    $(function() {
        App.init();
    });

    $.fn.serializeObject = function()
    {
       var o = {};
       var a = this.serializeArray();
       $.each(a, function() {
           if (o[this.name]) {
               if (!o[this.name].push) {
                   o[this.name] = [o[this.name]];
               }
               o[this.name].push(this.value || '');
           } else {
               o[this.name] = this.value || '';
           }
       });
       return o;
    };
  </script>
  <%#= stylesheet_link_tag 'deface.css' %>
    <style type="text/css" media="screen">
      html {
        height: 100%;
      }
      body {
        padding: 0;
        margin: 0;
        height: 100%;
        overflow: hidden;
        font: 12px Verdana, sans-serif;
      }
      iframe{
        width: 100%;
        height: 100%;
        border: none;
      }

      div#deface_editor{
        color:#fff;
        background-color:#111;
        float:left;
        opacity:0.96;
        filter:alpha(opacity=96);
        -moz-opacity:0.96;
        bottom: 0;
        height: 50px;
        position: absolute;
        width: 100%;
        z-index: 99999;
      }

      div#deface_editor #top_bar{
        border-bottom: 1px solid #fff;
        padding: 8px 8px 6px 8px;
      }

      div#deface_editor h1{
        float: left;
        font-size: 1.4em;
        margin: 7px 4px;
      }

      div#deface_editor img#busy{
        margin: 10px;
        display: none;
        float: left;
      }

     div#deface_editor .buttons{
        margin: 0px;
        float: right;
      }

      div#deface_editor .buttons li{
        float: left;
        margin-top: 0px;
      }


      div#deface_editor .buttons li.last{
        border-right: 1px solid #999999;
      }

      div#deface_editor .buttons li{
        border-left: 1px solid #999999;
        border-top: 1px solid #999999;
        border-bottom: 1px solid #999999;
        font-weight: bold;
        list-style: none outside none;
        padding: 4px 0;
        text-align: center;
        width: 90px;
        background-color: #222;
        margin-top: 5px;
      }

      div#deface_editor .buttons li a{
        display: block;
      }

      div#deface_editor #nav {
        float: right;
      }


      div#deface_editor #nav #load_override{
        float: right;
        margin: 10px 10px 0;
        display: none;
      }

      div#deface_editor #nav #load_override button{
        vertical-align: top;
      }

      div#deface_editor #nav .toggle li{
        width: 60px;
      }
      div#deface_editor #nav .toggle .active{
        background-color: red;
      }

      div#deface_editor #nav .toggle .first{
        -moz-border-radius: 15px 0px 0px 15px;
      }

      div#deface_editor #nav .toggle .last{
        -moz-border-radius: 0 15px 15px 0;
      }

      div#deface_editor #nav .small li{
        width: 30px;
      }

      div#deface_editor .disabled a{
        color: #333;
        cursor: not-allowed;
      }

      div#deface_editor a{
        color: #fff;
        text-decoration: none;
      }

      div#deface_editor #main{
        margin-top: 8px;
        clear: both;
        padding: 0 14px;
      }

      div#deface_editor .form{
        display: none;
        padding: 0px 12px;
      }

      div#deface_editor .fields{
        float: left;
        margin-right: 20px;
        height: 30px;
        width: 330px;
      }


      div#deface_editor .fields label{
        font-weight: bold;
        display: inline-block;
        margin: 2px 0px;
        width: 100px;
      }

      div#deface_editor .fields label.error{
        font-weight: normal;
        color: red;
        margin: 2px 0px 2px -16px;
      }

      div#deface_editor .fields input{
        height: 12px;
        width: 180px;
        margin-right: 20px;
      }

      div#deface_editor .fields input[type='checkbox']{
        width: 20px;
      }

      div#deface_editor .fields select{
        padding: 2px;
        width: 180px;
        margin-right: 20px;
      }

      div#deface_editor .fields label,input,select,button{
        vertical-align: super;
      }

      div#deface_editor .advanced{
        display: none;
      }

      div#deface_editor #actions{
        clear: both;
      }

      div#deface_editor .clear, .replacement{
        clear: both;
      }

      .ace_editor .ace_print_margin_layer {
        width: auto;
      }

      #view_override_replace_text {
        height: 195px;
        width: 100%;
        position: relative;
        border: 1px solid #fff;
        background-color: #fff;
        clear: both;
      }
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
